flows (5).json
[{"id":"ab869501.2c2cf8","type":"tab","label":"TweetBot","disabled":false,"info":""},{"id":"d02e6a7d.313ba8","type":"openweathermap in","z":"ab869501.2c2cf8","name":"","wtype":"current","lon":"","lat":"","city":"Nairobi","country":"Kenya","language":"en","x":380,"y":420,"wires":[["600bbccb.c1a174"]]},{"id":"39a66d4.d237d92","type":"twitter out","z":"ab869501.2c2cf8","twitter":"","name":"Tweet","x":800,"y":420,"wires":[]},{"id":"600bbccb.c1a174","type":"function","z":"ab869501.2c2cf8","name":"if clear weather","func":"if(msg.payload.weather === \"Clouds\" ){\nmsg.payload = \" Clear skies ahead today!\"\n    return msg;\n        }\n\n  return null;\n    \n    \n//. if (msg.payload.weather === “Clear”) {\n//2. msg.payload = “Clear skies ahead today!”\n//3. return msg;\n//4. }\n//5. return null;","outputs":1,"noerr":0,"x":590,"y":420,"wires":[["39a66d4.d237d92"]]}]